@model Color

<section class="container" >
    <form asp-action="EditColor" asp-controller="AdminColor" method="POST"  >
        @await Html.PartialAsync("CreateAndModifyColorPartialView")
    </form>
</section>
