@model Camisetas.Models.Type

<section class="container" >
    <form asp-action="CreateType" asp-controller="AdminType" method="POST"  >
        @await Html.PartialAsync("CreateAndModifyTypePartialView")
    </form>
</section>
