@model Size

<section class="container" >
    <form asp-action="CreateSize" asp-controller="AdminSize" method="POST"  >
        @await Html.PartialAsync("CreateAndModifySizePartialView")
    </form>
</section>
