@model Tshirt

<section class="container" >
    <form asp-action="Edit" asp-controller="AdminTshirt" method="POST" >
        @await Html.PartialAsync("CreateAndModifyTshirtPartialView")
    </form>
</section>
    